<template>
    <div>
        <h2>todo app</h2>
    </div>
</template>
<style lang="css" scoped>
    h2{
        font-size: 5.5em;
        font-weight: 100;
        text-align: center;
        color: rgba(175, 47, 47, 0.15);
        text-transform: uppercase;
    }
</style>