<template>
  <div class="todocontainer">
  <input type="text" class="nes-input" placeholder="Add todo..." v-on:keyup.enter="addTodo">     
  <ul>
    <li v-for="todo in todos" :key="todo.id" class="flex">
      <label>
        <input type="checkbox" class="nes-checkbox" v-model="todo.done">
        <span>&nbsp;</span>
      </label>
      <del v-if="todo.done">{{ todo.text }}</del>
      <span v-else>{{ todo.text }}</span>
      <div class="space"></div>
      <button class="nes-btn is-error padding" v-on:click="removeTodo(todo.id)">X</button>
    </li>
  </ul>
  </div>
</template>

<script>
export default {
  name: 'ToDoContainer',
  data: () => {
    return{
    todos: [
          { text: 'todo 1', done: false, id: Date.now() },
          { text: 'todo 2', done: false, id: Date.now() + 1 }
      ]
    }
  },
  methods: {
    addTodo(event) {
      const text = event.target.value
      this.todos.push({text, done: false, id: Date.now()})
      event.target.value = ''
    },
    removeTodo(id) {
      this.todos = this.todos.filter(todo => todo.id !== id)
    },
    check(todo){
      todo.done = !todo.done
    }
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="css" scoped>
.new-todo {

}
</style>
